@import "/node_modules/bootstrap";
@import "/node_modules/bootstrap-icons";
@import "/node_modules/vue-sweetalert2/node_modules/sweetalert2/dist/sweetalert2.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #0CAA41
}

.primary-color {
    color: var(--primary-color);
}

.pagination-link {
    color: var(--primary-color);
}

.pagination-link:hover{
    color: var(--primary-color);
}

.pagination-link:focus{
    color: var(--primary-color);
    background-color: var(--bs-pagination-bg);
    box-shadow: none;
}

.pagination-link.active{
    color: var(--primary-color);
    background-color: var(--bs-pagination-focus-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
}


